<div class="col-lg mr-auto">
    <%= form_tag listings_path, method: :get, class:"form-inline  my-2 my-lg-0" do %>

    <%= text_field_tag :search, params[:search], placeholder: "Search by Name or Description", class:"form-control w-75 rounded mr-sm-2"%>
        <span class="input-group-btn">
            <%= submit_tag "Search", class: 'btn btn-info'%>
        </span>
    <%end%>
</div>  

