<h1>...</h1>
<p class="text-left text-capitalize font-weight-bold font-italic" width="20"> Welcome <%=current_user.email%> !</p>
<%=image_tag "hero_img.jpg", alt: "Decor Items image", class:"img-fluid"%>
</div>