// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card:hover{
transform: scale(1.005);
 box-shadow: 0 24px 39px rgba(0,0,0,.12);
}
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}